.custom-container {
    background-color: #f4f6f9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-input lightning-input {
    font-size: 16px;
    font-weight: 500;
}

.custom-table {
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.save-button {
    margin-top: 16px;
    background-color: #2e844a;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
